<link href="/styles/indie/footer.css" rel="stylesheet">
<div class="footer">
  <div class="footer-col">
    <p class="col-title"> info </p>
    <a class="col-link" href="/about"> about us </a>
    <p class="col-link"> shipping info </p>
  </div>
  <div class="footer-col">
    <p class="col-title"> newsletter </p>
    <form action="/api/add_email" method="post">
      <input class="col-link email-input" type="text" name="email" placeholder="enter email">
      <br><button class="email-button" type="submit">send</button>
    </form>
  </div>
  <div class="footer-col">
    <p class="col-title r"> contact </p>
    <p class="col-link r"> kneeshaker@ymail.com </p>
  </div>
  <div class="footer-col">
    <p class="col-title r"> social </p>
    <p class="col-link r"> instagram </p>
    <p class="col-link r"> facebook </p>
  </div>
</div>
