<style>
  @media only screen and (max-width: 400px) {
    .header{
      padding: 0;
    }
    .header row{
      align-content: flex-start;
      justify-content: center;
    }
    .menu-link{
      line-height: 25px;
      margin-left: 10vw;
      width: 100%;
      text-align: center;
    }
    .logo{
      width: 100%;
      margin-left: 7vw;
      margin-bottom: 3vh;
      order: -1;
    }
  }
  @media only screen and (min-width: 400px) {
    .header{
      padding: 0 20vw;
    }
  }
</style>
<div class="header">
  <div class="row row-space" style="padding-top:0;">
      <a class="menu-link" href=""><p>new arrivals</p></a>

      <a class="menu-link" href=""><p>category</p></a>

      <a class="logo" href="/">
        <img src="/res/img/logo.png" alt="ALT-F4 LOGO" style="width:230px;">
      </a>

      <a class="menu-link" href=""><p>brands</p></a>

      <a class="menu-link" href=""><p>collections</p></a>

  </div>
</div>
