<link href="/styles/header.css" rel="stylesheet">
<% if(animation==true){ %>
  <div class="animationBox">
    <%- include('../pages/util/logo_animation.ejs'); %>
  </div>
<% } %>
<div class="header">
  <div class="row row-space">

      <a class="menu-item hover-red" href="/about">
          <p class="menu-label">about</p>
      </a>

      <a class="menu-item hover-red" href="/">
          <p class="menu-label">new arrivals</p>
      </a>

      <div class="menu-item">
        <div class="drop-wrapper">
          <div class="menu-label dropbtn hover-red" href=""><p>category</p></div>
          <div class="dropdown-content">
            <a class="menu-label hover-red" href="/">All</a>
            <a class="menu-label hover-red" href="/category/tops">Tops</a>
            <a class="menu-label hover-red" href="/category/bottoms">Bottoms</a>
            <a class="menu-label hover-red" href="/category/outerwear">Outerwear</a>
            <a class="menu-label hover-red" href="/category/accessories">Accessories</a>
            <a class="menu-label hover-red" href="/category/footwear">Footwear</a>
            <a class="menu-label hover-red" href="/sale">Sale</a>
          </div>
        </div>
      </div>

      <a class="logo" href="/">
        <img src="/res/img/logo.png" alt="ALT-F4 LOGO">
      </a>

      <div class="menu-item">
        <div class="drop-wrapper">
          <div class="menu-label dropbtn hover-red" href=""><p>brands</p></div>
          <div class="dropdown-content">
            <a class="menu-label hover-red" href="/">All</a>
            <% brands.forEach(function(brand){ %>
              <a class="menu-label hover-red" href="/brand/<%- brand %>"><%- brand %></a>
            <% }); %>

          </div>
        </div>
      </div>

      <div class="menu-item">
        <div class="drop-wrapper">
          <div class="menu-label dropbtn hover-red" href=""><p>preorder</p></div>
          <div class="dropdown-content">
            <a class="menu-label hover-red" href="#">Nothing here yet</a>
          </div>
        </div>
      </div>

      <a class="menu-item hover-red" href="/cart">
          <p class="menu-label">cart(<%- cart_num %>)</p>
      </a>
  </div>
</div>
<script src="/libs/jquery/jquery.js"></script>
<script>
  $('.menu-item').on('click', function(){
    // REMOVE ALL SELECTED
    $('.menu-item').removeClass('selected');
    $(this).addClass('selected');
  });

  <% if(animation==true){ %>
    console.log("yeeters")
    var animation = $('.animationBox')
    animation.ready(setTimeout(function(){
      animation.addClass("hidden")
      setTimeout(function(){
        animation.remove()
      },1000)
    },2000))
  <% } %>
</script>
