<div class="col-4">
  <div class="show_item">
    <div class="row">
      <img src="res/img/example.jpg" alt="ohlord" style="width:230px;">
    </div>
    <div class="row">
      <div class="col-1">
        <h2><%- item.brand %></h2>
        <p>Thrasher Denim - Noir</p>
        <p>$200.00  <i>sold out</i></p>
      </div>
    </div>
  </div>
</div>
