.footer{
  display: flex;
  justify-content: space-between;
  align-items: stretch;

  padding: 0 3vh;

  flex-basis: 100%;

  font-size: 15px;
}

.footer-col{
}
.col-title{
  margin-bottom: 3px;
  color: #999;
}
.col-title.r{
  text-align: right;
}
.col-link{
  margin-bottom: 3px;
  font-family: Inconsolata, monospace;
  text-align: left;
  color: black;
  text-decoration: none;
}
.col-link.r{
  text-align: right;
}
.col-link:hover {
  color: red;
}

.email-input{
  border: none;
  -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -khtml-border-radius: 0;
  border-bottom: 1px solid black;
  margin-left: 0;
  font-size: 14px;
  text-align: left;
}
.email-button{
  margin-top: 2px;
  background: none;
  border: none;
  font-size: 15px;
  font-family: Inconsolata, monospace;
}

/* MOBILE */
@media only screen and (max-width: 570px){
  .footer .row{
    flex-direction: column;
  }
  .footer-col{
    padding-top: 16px;
  }
  .col-title.r{
    text-align: left;
  }
  .col-link.r{
    text-align: left;
  }
}
