

.nav {
  flex-basis: 15%;

  display: flex;
  flex-direction: column;
}

.logo {
  width: 100%;
}
.logo img {
  width: 100%;
  background: none;
}

.menu-item {
  width: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 5px;
  padding-left: 3vh;
}

.menu-label {
  color: Black;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.menu-label:hover {
  color: red;
}

.dropbtn {
  display: inline-block;
  width: auto;
}

.dropdown-content {
  display: none;
  flex-direction: column;
  background-color: white;
  position: relative;
  z-index: 0;
  width: auto;
  padding-bottom: 5px;
}

.dropdown-content a {
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
}

.menu-item.selected .dropdown-content {
  display: flex;
}

/*    ===      MOBILE     ===    */
@media only screen and (max-width: 570px) {
  .logo {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 0.5vh;
    order: -1;
  }

  .logo img {
    width: 100%;
  }

  .nav {
    padding: 0;
    width: auto;
    height: auto;
    margin-bottom: 1vh;
  }

  .nav .row {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
    min-height: 0px;
    height: auto;
  }

  .menu-item {
    justify-content: flex-start;
    margin-left: 10vw;
    margin-top: 1vh;
    width: auto;
    flex-grow: 1;
  }

  .menu-item p {
    width: auto;
  }

  .menu-label {
    font-size: 18px;
  }

  .dropdown-content {
    position: relative;
  }

  .menu-item.selected .dropdown-content {
    display: flex;
  }
}
