
/*==== SHOWROOM ====*/

.main-block .row {
  justify-content: space-around;
}

.show_item {
  text-align: center;
}

.showroom-img {
  height: 20em;
  width: 20em;
  object-fit: cover;
  object-position: 0% 0%;
}

.show_item a {
  text-decoration: none;
  color: black;
}

.price-line {
  display: flex;
}


@media only screen and (max-width: 570px) {

  .item_image img {
    width: 100vw;
  }

  .showroom {
    padding: 0 0vw;
    width: auto;
    margin: auto;
  }

  .showroom-img {
    object-fit: cover;
    min-width: 80vw;
    min-height: 80vw;
  }

  .showroom .row {
    justify-content: space-around;
  }
}
