<!DOCTYPE html>
<html lang="en">

<head>
  <link href="/styles/admin.css" rel="stylesheet">
  <link href="/styles/forms_style.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">

  <script src="/libs/jquery/jquery.js"></script>
</head>

<body>
  <div class="page-wrapper">
    <div class="card">

      <div class="row row-space">
        <div class="col-1">
          <h1> LOGIN </h1>
        </div>
      </div>

      <form class="login-form" action="/admin/login" method="post">
        <input class="login-inpt" placeholder="username" type="text" name="user">
        <input class="login-inpt" placeholder="password" type="text" name="password">
        <button type="submit">enter</button>
      </form>
    </div>
  </div>
</body>

</html>
