<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/nav.ejs'); %>

    <div class = "card">
      <h1>about rag</h1>
    </div>

    <%- include('../partials/footer.ejs'); %>

  </div>
</body>

</html>
