<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/header.ejs'); %>

    <div class = "card">
    <h1>about rag</h1>
    </div>

    <%- include('../partials/footer.ejs'); %>

  </div>
</body>


</html>
