<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs'); %>
</head>

<body>
  <div class="page-wrapper">

    <%- include('../partials/nav.ejs'); %>

    <div class = "card" style="height: 55vh; text-align: center; width: 100%">
      <br><br>
      <h1>nyche is a fun, sexy, cool organizationn for fun, sexy, cool people.</h1> <br>
      <h1> ;) </h1>
    </div>

    <%- include('../partials/footer.ejs'); %>

  </div>
</body>

</html>
