<!DOCTYPE html>
<html lang="en">

<head>
  <title> Niche Thrift - Collections of Designer & Rare Clothing </title>

  <meta name="viewport" content="initial-scale=1">
  <link href="/styles/test.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
</head>

<body>
  <div class="headbox"
  <div class="page-wrapper">


    <div class = "card">
      <h1>about rag</h1>
    </div>

    <%- include('../partials/footer.ejs'); %>

  </div>
</body>

</html>
