@font-face {
  font-family: Inconsolata;
  src: url(../res/fonts/Inconsolata-var.ttf);
}
@font-face {
  font-family: PassionOne;
  src: url(../res/fonts/PassionOne-Regular.ttf);
}

/* ========= BASE ===========*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inconsolata, monospace;
  font-size: 13px;
}
* {
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ============= PRIMARY =============== */

.page-wrapper{
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 3vw;
  padding-right: 3vw;

  display: flex;
  justify-content: center;
}

.img-card{
  border: 2px dashed black;
  margin-right: 20px;
  padding: 30px;
  max-width: 400px;
}
.card{
  border: 2px dashed black;
  text-align: center;
  max-width: 700px;
  padding: 30px;
}

.control-box{
  background-color: #EEE;
  margin-bottom: 10px;
}

.item-box{
  background-color: #EEE;
}

.admin-item{
  background-color: #CCC;
  padding: 5px 5px;
  margin: 5px 5px;
}

.admin-item a,p{
  color: black;
  text-decoration: none;
  text-align: left;
}
.admin-item-img{
  height: 10.5vw;
  width: 10.5vw;
}
.split-line{
  display: flex;
  justify-content: space-between;
}
.minor_desc{
  margin-top: 10px;
}
.minor_desc_box{
  display: block;
}
.editing-img{
  width: 50%;
}

.login-form{
  display: flex;
  flex-direction: column;
}

/*============== Session View =============*/
.session-card{
  border: 2px dashed black;
  text-align: center;
  width: 900px;
  padding: 30px;
}
.session-box{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.session{
  display: flex;
  background-color: #DDD;
  padding: 5px 5px;
  margin: 5px 5px;
}
.sesh-info{
  text-align: left;
}
.sesh-info.ip{
  width: 30%;
}
.sesh-info.cart{
  width: 30%;
}
.sesh-info.email{
  width: 30%;
}
.sesh-info.del{
  width: 10%;
  text-decoration: underline;
}
@media only screen and (max-width: 400px), screen and (-webkit-min-device-pixel-ratio: 2){
  .session-card{
    width: 100%
  }
  .card{
    width: 100%
  }
}
/* ============= MINOR STYLES ==============*/

h1{
  font-size: 40px;
}

.button-1{
  line-height: 35px;
  padding: 0 20px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: #f00;
  color: #fff;
  text-decoration: none;
  font-family: PassionOne;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.red-line{
  text-decoration: line-through;
  text-decoration-color: red;
}

.login-inpt{
  border: 1px solid black;
  width: 100%;
  margin: 10px auto;
}
