@font-face {
  font-family: Castoro;
  src: url(../res/fonts/Castoro-Regular.ttf);
}
@font-face {
  font-family: PassionOne;
  src: url(../res/fonts/PassionOne-Regular.ttf);
}
@font-face {
  font-family: Inconsolata;
  src: url(../res/fonts/Inconsolata-var.ttf);
}
/* ============= PHONE SCREEN ==============*/

@media only screen and (max-width: 400px) {

}
/* ============= NORMAL SCREEN =============== */

@media only screen and (min-width: 400px) {

}

/* ========= BASE ===========*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inconsolata, monospace;
}
* {
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ============= PRIMARY =============== */

.page-wrapper{
  min-height: 100vh;
  padding-top: 20px;
}

.card{
  max-width: 700px;
  margin: 0 auto;
}


/*==== SHOWROOM ====*/
.showroom{
  padding: 0 10vw;
}

.show_item{
  text-align: center;
}

.show_item a{
  text-decoration: none;
  color: black;
}
/*==== ITEM VIEW ====*/
.item_desc{
  padding-top: 30px;
  padding-left: 15px;
}
.item_desc p{
  font-size: 16px;
}
.price-line{
  display: flex;
}
@media only screen and (max-width: 400px) {
  .item_image img{
    width: 100vw;
    height: 100vw;
  }
}
@media only screen and (min-width: 400px) {
  .item_image img{
    width: 500px;
    height: 500px;
  }
}

/* =========== BUTTONS ==================*/

.btn {
  display: inline-block;
  line-height: 50px;
  padding: 0 50px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 25px;
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
  font-family: PassionOne;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
}

/* ============== MINOR STYLES ==============*/

.menu-link{
  text-decoration: none;
  line-height: 70px;
  font-family: 'Inconsolata', monospace;
  color: black;
}
.menu-link:hover{
  color: red;
}
.menu-link p{
  font-size: 15px;
  font-weight: bold;
}
.price{
  text-decoration: line-through;
  text-decoration-color: red;
}
.discount-price{
  color: red;
  padding-left: 10px;
}

h1{
  font-size: 40px;
}

h2{
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

p{
  font-size: 13px;
  text-align: left;
}

.border_black{
  border: 2px solid black;
}

.bold{
  font-weight: bolder;
}
