@font-face {
  font-family: Castoro;
  src: url(../res/fonts/Castoro-Regular.ttf);
}

@font-face {
  font-family: PassionOne;
  src: url(../res/fonts/PassionOne-Regular.ttf);
}

@font-face {
  font-family: Inconsolata;
  src: url(../res/fonts/Inconsolata-var.ttf);
}

/* =============== BASE ================*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inconsolata, monospace;
  font-size: 13px;
}
* {
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ============= PRIMARY =============== */
.page-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 3vh;
}

.main-block {
  flex-basis: 85%;

  min-height: 80vh;
}

/* ============== MINOR STYLES ==============*/

h1 {
  font-size: 20px;
  font-weight: normal;
}

h1.a {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

p {
  text-align: left;
}

.border_black {
  border: 2px solid black;
}

.bold {
  font-weight: bolder;
}

.red-line {
  text-decoration: line-through;
  text-decoration-color: red;
}

.discount-price {
  color: red;
  padding-left: 10px;
}

.hover-red:hover {
  color:red;
}

/* ====== DEBUG COLORS ======

.nav {
  background-color: #fdd;
}

.main-block {
  background-color: #dfd;
}

.footer{
  background-color: #ddf;
}
