@font-face {
  font-family: Castoro;
  src: url(../res/fonts/Castoro-Regular.ttf);
}
@font-face {
  font-family: PassionOne;
  src: url(../res/fonts/PassionOne-Regular.ttf);
}
@font-face {
  font-family: Inconsolata;
  src: url(../res/fonts/Inconsolata-var.ttf);
}
/* ============= PHONE SCREEN ==============*/

@media only screen and (max-width: 400px), screen and (-webkit-min-device-pixel-ratio: 2){
  .showroom{
    padding: 0 0vw;
  }
  .showroom-img{
    min-width: 80vw;
    min-height: 80vw;
  }
  .showroom .row{
    justify-content: space-around;
  }
}
/* ============= NORMAL SCREEN =============== */

@media not screen and (-webkit-min-device-pixel-ratio: 2) {
  .showroom{
    padding: 0 10vw;
  }
}

/* ========= BASE ===========*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Inconsolata, monospace;
  font-size: 13px;

/*  text-shadow: -0.2em -0.2em red,  0.2em 0.2em cyan;  This creates the 3D effect, pretty easy, eh? */
}
* {
  padding: 0;
  margin: 0;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* ============= PRIMARY =============== */

.page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 3vw;
  padding-right: 3vw;
}

.card{
  max-width: 700px;
  margin: 0 auto;
}

.nav-path{
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.nav-path p{
  font-size: 16px;
}

/*==== SHOWROOM ====*/
.showroom{
  margin-top: 1vh;
}

.show_item{
  text-align: center;
}

.show_item a{
  text-decoration: none;
  color: black;
}
/*==== ITEM VIEW ====*/
.item_desc{
  padding-top: 30px;
  padding-left: 15px;
}
.item_desc{
  font-size: 16px;
}
.price-line{
  display: flex;
}
.details-section{
  font-size: 12px;
}
.size-section{
  font-size: 12px;
}
.add-cart-section{
  text-align: left;
  font-size: 18px;
  text-decoration: underline;
}
.add-cart-section a{
  color: black;
}
@media only screen and (max-width: 400px), screen and (-webkit-min-device-pixel-ratio: 2){
  .item_image img{
    width: 100vw;
    height: 100vw;
  }
}
@media not screen and (-webkit-min-device-pixel-ratio: 2) {
  .item_image img{
    width: 500px;
    height: 500px;
  }
}

/* =========== BUTTONS ==================*/

.btn {
  line-height: 35px;
  padding: 0 20px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  border: none;
  color: #fff;
  text-decoration: none;
}

.btn--radius {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn--radius-2 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.btn--pill {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn--green {
  background: #57b846;
}

.btn--green:hover {
  background: #4dae3c;
}

.btn--blue {
  background: #4272d7;
}

.btn--blue:hover {
  background: #3868cd;
}

/* ============== MINOR STYLES ==============*/

.red-line{
  text-decoration: line-through;
  text-decoration-color: red;
}
.discount-price{
  color: red;
  padding-left: 10px;
}

h1{
  font-size: 40px;
}

h1.a{
  font-size: 40px;
  text-align: center;
}

h2{
  font-size: 13px;
  font-weight: bold;
  text-align: left;
}

p{
  text-align: left;
}

.border_black{
  border: 2px solid black;
}

.bold{
  font-weight: bolder;
}
