.logo{
  z-index: 2;
}

.menu-link {
  border: 2px dotted black;
  text-decoration: none;
  flex-grow: 1;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}

.menu-link p {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 40%
}

.hover-red:hover {
  color: red;
}

/* DROP MENU ============== */

.menu-dropdown {
  display: flex;
  justify-content: center;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: 0;
  color: black;
  font-size: 15px;
  font-weight: bold;
  position: relative;
}


.dropbtn {
  color: black;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: auto;
}

.dropdown-content {
  display: none;
  background-color: white;
  position: absolute;
  width: auto;
  z-index: 1;
  padding-bottom: 5px;
}

.dropdown-content a {
  color: black;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
}

@media only screen and (max-width: 400px), screen and (-webkit-min-device-pixel-ratio: 2){
  .header {
    padding: 0;
    height: auto;
  }

  .header .row {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    min-height: 200px;
    height: auto;
  }

  .menu-dropdown {
    justify-content: flex-start;
    margin-left: 10vw;
    margin-top: 1vh;
  }
  .dropdown-content{
    position: relative;
  }
  .menu-dropdown.selected .dropdown-content{
    display: inherit;
  }

  .logo {
    width: 100%;
    margin-left: 7vw;
    margin-bottom: 1vh;
    order: -1;
  }
}

@media only screen and (min-width: 400px) and not screen and (-webkit-min-device-pixel-ratio: 2) {
  .header {
    padding: 0 10vw;
  }

  .header .row {
    align-items: center;
  }

  .menu-dropdown:hover .dropdown-content {
    display: block;
  }
}
