<!DOCTYPE html>
<html lang="en">

<head>
  <link href="styles/base.css" rel="stylesheet">
  <link href="styles/forms_style.css" rel="stylesheet">
  <link href="styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">
    <div class="card">

      <div class="row row-space">
        <div class="col-1">
          <h1> ADD ITEM </h1>
        </div>
      </div>

      <form class="event_form p-t-20" enctype="multipart/form-data" action="/admin/new_item" method="post">
      <div class="row row-space">
        <div class="col-2 m-t-30">
          <div class="input-group">
            <label class="label">Brand</label>
            <input class="input--style-4" type="text" name="brand">
          </div>
        </div>
        <div class="col-2 m-t-30">
          <div class="input-group">
            <label class="label">Description</label>
            <input class="input--style-4" type="text" name="description">
          </div>
        </div>
      </div>
      <div class="row row-space m-t-30">
        <div class="col-2">
          <div class="input-group">
            <label class="label">Price</label>
            <input class="input--style-4 bold center" type="text" name="price">
          </div>
        </div>
        <div class="col-2">
          <div class="input-group">
            <label class="label">Discount</label>
            <input class="input--style-4 bold center" type="text" name="discount_price">
          </div>
        </div>
      </div>
      <div class="row row-space m-t-30">
        <div class="col-1">
          <div class="input-group">
            <label class="label">Image</label>
            <input class="input--style-4 bold center" type="file" name="image">
          </div>
        </div>
      </div>
      <div class="row row-space m-t-30">
        <div class="col-1">
          <div class="input-group">
            <button class="btn btn--radius-2 btn--blue" type="submit">ENTER ITEM</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </div>
</body>


</html>
