<!DOCTYPE html>
<html lang="en">

<head>
  <link href="styles/admin.css" rel="stylesheet">
  <link href="styles/forms_style.css" rel="stylesheet">
  <link href="styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">
    <div class="card">

      <div class="vertical row row-space">
        <h1 class="a"> ADMIN PAGE </h1>
        <div class="col-1">
          <a class="button-1" href="/admin/new_item">NEW ITEM</a>
        </div>
        <div class="item-box">

          <% items.forEach(function(item){ %>
            <div class="item">
              <div class="item-detail" style="width: 8%">
                <img class="item-img" src="/show-item/<%- item.image %>" alt="ohlord">
              </div>
              <div class="item-detail" style="width: 15%">
                <p><%- item.brand %></p>
              </div>
              <div class="item-detail" style="width: 25%">
                <p><%- item.description %></p>
              </div>
              <div class="item-detail no-wrap" style="width: 8%">
                <p>$<%- item.price %></p>
              </div>
              <div class="item-detail no-wrap" style="width: 30%">
                <p></p>
              </div>
              <div class="item-detail no-wrap" style="width: 5%">
                <a> edit </a>
              </div>
              <div class="item-detail no-wrap" style="width: 6%">
                <a> delete </a>
              </div>
            </div>
          <% }); %>

        </div>
      </div>

  </div>
</body>


</html>
