<!DOCTYPE html>
<html lang="en">

<head>
  <title> Niche Thrift - Collections of Designer & Rare Clothing </title>

  <meta name="viewport" content="initial-scale=1">
  <link href="/styles/base.css" rel="stylesheet">
  <link href="/styles/flex.css" rel="stylesheet">
  <link href="/styles/sizing.css" rel="stylesheet">
</head>

<body>
  <div class="page-wrapper">

    <div class = "card" style="height: 65vh; text-align: center">
      <br><br><br><br><br><br><br><br><br><br><br>
      <h1>404</h1> <br>
      <h1>I have no idea where you're trying to go...</h1>
    </div>

    <%- include('../../partials/footer.ejs'); %>

  </div>
</body>

</html>
