<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head.ejs'); %>
</head>

<body>
  <div class="page-wrapper">

    <div class = "card" style="height: 65vh; text-align: center">
      <br><br><br><br><br><br><br><br><br><br><br>
      <h1>404</h1> <br>
      <h1>I have no idea where you're trying to go...</h1>
    </div>

    <%- include('../../partials/footer.ejs'); %>

  </div>
</body>

</html>
