<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../../partials/head.ejs'); %>
</head>

<body>
  <div class="page-wrapper">

    <%- include('../../partials/nav.ejs'); %>

    <div class = "card" style="height: 55vh; text-align: center; width: 100%">
      <br><br><br><br>
      <h1>Thanks for buying from nyche</h1> <br>
      <h1> xoxo </h1>
    </div>

    <%- include('../../partials/footer.ejs'); %>

  </div>
</body>

</html>
